Combine/Plots/
Combine/*log*
*/Config*
*/Archive*
test/PlotsWithoutMuons/
test/*cfg
*txt
*png
*pdf
*root
__init__.py
*.pyc
.*.swp
.#*
#*#
*~
Drawer/
Other_Tools/
Sandbox/
nohup.out
*/nohup.out
test/Archive_NAF/
test/Archive_scripts/
test/filelists/
test/ConfigMC/
test/ConfigPrompt
test/ConfigRerecoNewJSON/
test/Results_Apr_26_Prompt_ReReco_MCsig_MCbg/
test/PlotsWithMuonInformation/
test/Outputdata/
test/OtherConfigs/
test/Condor_*/
._*
*tmp*