test/Configs
test/Archive*
test/PlotsWithoutMuons/
test/exampleD.cfg
test/exampleE.cfg
test/exampleF.cfg
test/*cfg
*txt
*root
__init__.py
*.pyc
.*.swp
.#*
#*#
*~
Drawer/
Other_Tools/
Sandbox/
nohup.out
*/nohup.out
test/Archive_NAF/
test/Archive_scripts/
test/ConfigMC/
test/ConfigPrompt
test/ConfigRerecoNewJSON/
test/Results_Apr_26_Prompt_ReReco_MCsig_MCbg/
test/PlotsWithMuonInformation/
test/Outputdata/
test/OtherConfigs/
test/Condor_*/
._*
